.page-background {
  background-color: #e6ffe6 !important;   /* 浅绿色 */
}

.form-container {
  background-color: #e6ffe6; /* 浅绿色背景 */
  padding: 20rpx; /* 内边距 */
}

.form-row {
  margin-bottom: 20rpx;
}

.label {
  font-size: 30rpx;
  color: #333;
  width: 80rpx;
  /* 修改display属性为block或者inline */
  display: inline;
}

input, textarea {
  width: 400rpx;
  height: 60rpx;
  border: 1rpx solid #ccc;
  border-radius: 5rpx;
  padding: 0 10rpx;
  font-size: 16rpx;
}

radio-group {
  display: flex;
}

radio {
  margin-right: 10rpx;
}

.popup-content {
  padding: 20rpx; /* 可根据需要调整 */
  background-color: #fff;
}

.input-field {
  width: 80%; /* 输入框宽度 */
  height: 40rpx; /* 输入框高度 */
  border: 1rpx solid #ccc; /* 边框 */
  border-radius: 4rpx; /* 边框圆角 */
  padding: 10rpx; /* 内边距 */
  font-size: 28rpx; /* 字体大小 */
  margin-top: 10rpx; /* 顶部外边距 */
}

.submit-button {
  width: 90%; /* 按钮宽度 */
  height: 80rpx; /* 按钮高度 */
  background-color: #009933; /* 按钮背景色：深绿色 */
  color: #fff; /* 字体颜色：白色 */
  border: none; /* 去除边框 */
  border-radius: 8rpx; /* 边框圆角 */
  font-size: 32rpx; /* 字体大小 */
  margin-top: 20rpx; /* 顶部外边距 */
}

.calendar-picker {
  margin-top: 20rpx; /* 顶部外边距 */
}